body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ecb9b9;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    background-color: #ecb9b9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    align-content: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    align-items: center;
    align-content: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .container{
     display: inline;
     align-items: center;
     justify-content: center;
     align-content: unset;
  }
  