/* CSS for the discount page */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #e2a0a0;
  }
  
  header {
    background-color: #e48a8a;
    color:#050505;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: #050505;
  }
  
  section {
    margin: 20px;
  }
  
  section h2 {
    color: #050505;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  li h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #e48a8a;
    color:#050505;
    padding: 10px;
    text-align: center;
  }
  